{:paths ["src" "target"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
 :aliases {:build {:main-opts ["-m" "cljs.main" "-O" "advanced" "-c" "mrhota.alphabetsuperset.d"]}
           :repl  {:main-opts ["-m" "cljs.main" "-c" "mrhota.alphabetsuperset.d" "-r"]}}}
